#currentSchedule, #addTrain {
    border: 2px solid #337ab7;
    padding: 0;
}

#currentSchedule h5, #addTrain h5 {
    background-color: #337ab7;
    width: 100%;
    color: white;
    padding: 2px;
}

#currentSchedule {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #7f462c;
    color: white;
    padding-bottom: 2%;
    padding-top: 4%;
}

button {
    background-color: #337ab7;
    color: white;
}

input, button, label {
    margin-left: 5px;
}
